@model QHC.LojaVirtual.Dominio.Entidades.Produto

@{
    ViewBag.Title = "Alterar";
    Layout = "~/Areas/Administrativo/Views/Shared/_AdministrativoLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h3>@Model.Nome</h3>
    </div>
    @using (Html.BeginForm("Alterar", "Produto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProdutoId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                // if (property.PropertyName != "ProdutoId")
                // {
                switch (property.PropertyName)
                {
                    case "ProdutoId":
                        break;
                    case "Image":
                        break;
                    case "ImageMimeType":
                        break;

                    default:

                        <div class="form-group">
                            <label>
                                @(property.DisplayName ?? property.PropertyName)
                            </label>

                            @if (property.PropertyName == "Descricao")
                            {
                                @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 });
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }

                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                            break;
                }

            }
            @* Upload *@
            <div class="form-group">
                <div style="position:relative;">
                    <label>Image</label>
                    <a href="javastript:;" class="btn">
                        Selecione uma imagem...
                        <input type="file" name="Image" size="40" style="position: absolute; z-index: 2; top: 0; left: 0; filter:alpha(opacity=0); opacity:0;background-color:transparent;color:transparent;" onchange='$("#upload-file-info").html($(this).val());' />
                    </a>
                    <span id="upload-file-info" class="label label-info"></span>
                </div>
                @if (Model.Image == null)
                {
                    <div class="form-control-static">Nenhuma imagem selecionada.</div>
                }
                else
                {
                    <img class ="img-thumbnail" width="120" height="120"src="@Url.Action("ObterImagem","Produto",new{Model.ProdutoId})" />
                }
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar e retornar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
